:root {
    --text: hsl(270, 40%, 94%);
    --background: hsl(270, 46%, 5%);
    --primary: hsl(267, 52%, 71%);
    --secondary: hsl(268, 60%, 32%);
    --accent: hsl(275, 86%, 36%);


    --static: rgba(225, 225, 225, 0.5);
    --static2: #0f0f0f;
    --static3: rgb(255, 255, 255);
    --static4: rgba(225, 225, 225, 0.2);
    --static5: rgb(24, 172, 122);
    --static6: rgba(0, 0, 0, 0.05);
    --static7: rgba(105, 96, 79, 0.397);
    --static8: rgba(0, 0, 0, 0.05);
    --static9: rgba(0, 0, 0, 0.3);
    --static10: rgba(225, 225, 225);
    --static11: rgba(78, 71, 57, 0.473);
    --static12: rgba(255, 255, 255, 0.8);
    --static13: rgb(235, 235, 235);
    --static14: rgba(0, 0, 0, 0.2);
    --static15: rgba(255, 255, 255, 0.5);
}
  

/* body {
    background-color: var(--background-90);
} */

header {
    background-color: var(--background);
    /* padding: 1rem; */
    text-align: center;
    color: var(--text);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 10px;
    padding: 10px; */
    background-color: var(--background);
    border-bottom: 1px solid var(--static7);
}

.navbar div div:hover {
    background-color: var(--primary);
    color: black;
}

.logo {
    display: flex;
    margin: 15px 0px 15px 15px;
    
}

.logo img {
    border-radius: 50%;
    width: 50px;
}

.pages {
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
}

/* .pages div {
    margin: 0px 5px 0px 5px;
} */

.pages div a {
    height: 100%;
    text-decoration: none;
    color: var(--text);
}

div.pages div{
    padding: 28px 15px;
}

/* .pages div {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}

.leftcolumn {
    float: left;
    width: 100%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.container {
    width: 70%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}

.leftcolumn, .rightcolumn { 
    flex: 1; /* Allow columns to grow and fill available space */
}

section {
    margin: 1.5rem;
}

.main-content {
    width: 65%;
}

/* .sidebar {
    width: 30%;
    padding-left: 2rem;
    border-left: 1px solid var(--text-300);
} */

/* footer {
    background-color: var(--primary-500);
    padding: 1rem;
    text-align: center;
    color: var(--text-950);
    margin-top: 2rem;main
} */

footer {
    position: fixed;
    min-height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%; 
    margin: 0 auto; 
    border-radius: 50px 50px 0px 0px;

    background-color: hsl(270deg 40% 94% / 5%);
    color: var(--text);
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

h1, h2, h3 {
    margin: 0 0 1rem 0;
}

p {
    /* margin-bottom: 1rem;
    line-height: 1.5; */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove any padding */
    text-align: left; /* Ensure text is aligned to the left */
    max-width: 100%; /* Ensure the paragraph can use the full width */

}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }

    .rightcolumn {
        margin-top: 1rem; /* Add some spacing between stacked elements */
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

main::after {
    content: "";
    display: table;
    clear: both;
  }



